<div class="row">
    <div class="col-xl-2 col-lg-3 col-sm-4 col-xs-12">
        <%=render partial: "settings/left"%>
    </div>
    <div class="col">
        <h3>ユーザーグループ <%=@usergroup.name%>の編集</h3>
        <div>
            <%=form_with(url: @usergroup,scope: :usergroup,method: "put") do |form|%>
                <p>グループに入れたいユーザーにチェックしてください</p>
                <table class="table">
                    <thead>
                        <tr>
                            <th></th>
                            <th>名前</th>
                            <th>ユーザーID</th>
                        </tr>
                    </thead>
                    <%@users.each do |user|%>
                        <tr>
                            <%flag_ = @usergroup.users.include?(user)%>
                            <td>
                                <%=form.check_box("check_id",{:checked=>flag_,:multiple=> true},user.id.to_s)%>
                            </td>
                            <td><%=user.name%></td>
                            <td><%=user.user_id%></td>
                        </tr>
                    <%end%>
                </table>

                <%=form.submit "登録",:class =>"btn btn-primary"%>
            <%end%>
        </div>
    </div>
</div>
