<nav class="navbar-expand-sm navbar-light p-3">
    <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#leftbarNav"
        aria-controls="leftbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
    >
        <span class="navbar-toggler-icon"></span>
    </button>
    <h1 class="h5 d-inline">ページ</h1>
    <div class="collapse navbar-collapse" id="leftbarNav">
        <ul class="pagelist">
            <% if @page.parent %>
            <li>
                <% if @page.parent.root? %>
                    <%= link_to "/", @page.parent.path %>
                <% else %>
                    <%= link_to @page.parent.title, @page.parent.path %>
                <% end %>
            <ul>
            <% end %>
                <li>
                    <strong>
                        <% if @page.root? %>
                            <%= link_to "/", @page.path %>
                        <% else %>
                            <%= link_to @page.title, @page.path %>
                        <% end %>
                    </strong>
                    <ul>
                        <% @children_pages.each do |child| %>
                            <li>
                                <%= link_to child.title, child.path %>
                            </li>
                        <% end %>
                    </ul>
                </li>
                <% @brothers_pages.each do |page| %>
                <li>
                    <%= link_to page.title, page.path %>
                </li>
                <% end %>
            <% if @page.parent %>
                </ul>
            </li>
            <% end %>
        </ul>
    </div>
</nav>