<div id="page-container">
    <div id="left">
        <%=render partial: "pages/left"%>
    </div>
    <div id="right">
        <%=render partial: "pages/right"%>
    </div>

    <div id="center">
        <h1 class="font-weight-normal"><strong><%=params[:search]%></strong>の検索結果</h1>
        <%@search_pages.each do |page|%>
        <div class="card">
            <div class="card-header">
                <%if page.path == ""%>
                    <%=link_to "/", "/"%>
                <%else%>
                    <%=link_to page.path, page.path%>
                <%end%>
            </div>
            <div class="card-body">
                <%=page.content[0,500]%>
            </div>
        </div>
        <%end%>
    </div>
</div>