<div class="row">
    <div class="col-xl-2 col-lg-3 col-sm-4 col-xs-12">
        <div>
            <%=render partial: "pages/left"%>
        </div>
        <div class="d-lg-none">
            <%=render partial: "pages/right"%>
        </div>
   </div>

    <div class="col-xl-8 col-lg-6 col-sm-8 col-xs-12">
        <h1><%=@page.title%></h1>
        <%#react_component("MdEditor",{markdown:"マークダウン"})%>
        <%if @page.children.size == 0%>
            <%=form_with scope: :page, method: :delete do |form|%>
                <%form.submit "削除", {class: "btn btn-danger", style: "float:right;", data:{confirm: "本当に削除しますか"}}%>
            <%end%>
        <%end%>
        <%=form_with scope: :page, method: :put do%>
        <div id="mdEditor" markdown="<%=@page.content%>"></div>
        <%end%>
        <!--こめんと-->
        <h3>コメント</h3>
        <%=form_with scope: :comment, method: :post do |form|%>
            <%=form.text_area :content, class: "form-control"%>
            <%=form.submit "投稿", class: "btn btn-primary"%>
        <%end%>
        <%=react_component "CommentList", {comments: @page.comments.to_json(include:[:user]),csrfParams: request_forgery_protection_token, csrfToken: form_authenticity_token}%>
    </div>
    <div class="col-xl-2 col-lg-3 d-none d-lg-block">
        <%=render partial: "pages/right"%>
    </div>
</div>
<%= javascript_pack_tag "show_page"%>