<%= render "pages/layout" do %>
    <%= render partial: "pages/pankuzu" %>
    <p>
        <%= render "update-timestamp", history: @page %>
    </p>
    <%= form_with scope: :page, method: :delete, html: { id: "page-destroy-form", style: "display: none" }, data: { confirm: "本当に削除しますか" } do %>
    <% end %>
    <%= form_with scope: :page, method: :put, html: { id: "page-update-form", style: "display: contents" } do |f| %>
        <%= react_component("MdEditor",
            title: @page.title,
            markdown: @page.content,
            readable_group_id: @page.readable_group_id || 0,
            editable_group_id: @page.editable_group_id || 0,
            is_editable: can?(:write, @page),
            is_destroyable: @page.children.size == 0 && can?(:write, @page),
            usergroups: current_user != nil ? current_user.usergroups.select(:id, :name) : [],
            parent_page_id: @page.parent.nil? ? nil : @page.parent.id,
            next_parent_pages: @next_parent_pages.map {|page| {:id => page.id, :path => page.path}}
        ) %>
    <% end %>
    <hr>
    <!--こめんと-->
    <h2 class="h3">コメント</h2>
    <div class="list-group">
        <% @page.comments.each do |comment| %>
            <article class="list-group-item">
                <header class="d-flex justify-content-between">
                    <div>
                        <b><%= if comment.user != nil then comment.user.name else "???" end %></b>
                        <span class="text-muted">
                            commented
                            <%= render "shared/relative-time", timestamp: comment.created_at %>
                        </span>
                    </div>
                    <% if can?(:write, @page) || can?(:write, comment) %>
                        <span class="dropdown">
                            <button class="btn btn-light btn-sm rounded-circle dropdown-toggle" id="dropdownButtonForComment<%= comment.id %>" aria-controls="dropdownForComment<%= comment.id %>" data-toggle="dropdown" aria-label="もっと見る" aria-haspopup="true" aria-expanded="false"></button>
                            <menu class="dropdown-menu" id="dropdownForComment<%= comment.id %>" aria-labelledby="dropdownButtonForComment<%= comment.id %>">
                                <li role="menuitem">
                                    <%= form_with scope: "comment", method: :delete do |form| %>
                                        <%= form.hidden_field "comment_id", value: comment.id %>
                                        <%= form.submit "削除", { class: "dropdown-item text-danger", data: { confirm: "本当に削除しますか" } } %>
                                    <% end %>
                                </li>
                            </menu>
                        <span>
                    <% end %>
                </header>
                <p class="mb-2" style="white-space: pre-line"><%= comment.comment %></p>
            </article>
        <% end %>
    </div>
    <%= form_with scope: :comment, method: :post, url: URI.encode(@page.path) do |form| %>
        <%= form.text_area :content, class: "form-control", placeholder: "新しいコメント" %>
        <p class="text-right">
            <%= form.submit "投稿", class: "btn btn-primary" %>
        </p>
    <% end %>
    <h2 class="h3">ファイル</h2>
    <ul class="list-group">
        <% @attached_files.each do |file| %>
            <li class="list-group-item d-flex justify-content-between">
                <p class="m-0">
                    <%= link_to file[:filename], file[:path] %><br>
                    <span class="text-muted" style="font-size: 0.75rem"><%= render "shared/relative-time", timestamp: file[:created_at] %></span>
                </p>
                <% if can? :write, @page %>
                    <%= form_with url: file[:escaped_path], method: :delete, html: { style: "display: contents" }, remote: true do |form| %>
                        <%= button_tag type: "submit", class: "btn btn-danger btn-icon", data: { confirm: "本当に"+file[:filename]+"を削除しますか" } do %>
                            <%= octicon "trashcan" %>
                        <% end %>
                    <% end %>
                <% end %>
            </li>
        <% end %>
    </ul>
    <% if can? :write, @page %>
        <%= form_with scope: :file, method: :post do |form| %>
            <%= form.file_field :files, :multiple => true %>
            <%= form.submit "送信", class: "btn btn-primary" %>
        <% end %>
    <% end %>
    <h2 class="h3">更新履歴</h2>
    <ol style="list-style-type: none; padding-left: 0">
        <% @update_histories.limit(10).each_cons(2) do |newHist, oldHist| %>
            <li>
                <details>
                    <summary>
                        <%= render "update-timestamp", history: newHist %>
                    </summary>
                    <%= react_component("DiffViewer",
                        oldValue: oldHist.content,
                        newValue: newHist.content
                    )%>
                </details>
            </li>
        <% end %>
        <% if @update_histories.present? %>
            <li>
                <%= render "update-timestamp", history: @update_histories.last %>
            </li>
        <% end %>
    </ol>
<% end %>