<% content_for :title, @page.title %>
<%= render "pages/layout" do %>
    <%= render partial: "pages/pankuzu" %>
    <p>
        <%= render "update-timestamp", history: @page %>
    </p>
    <%= form_with scope: :page, method: :delete, local: false, html: { id: "page-destroy-form", style: "display: none" }, data: { confirm: "本当に削除しますか" } do %>
    <% end %>
    <%= form_with scope: :page, method: :put, local: false, html: { id: "page-update-form", style: "display: contents" } do |f| %>
        <%= react_component("MdEditor",
            title: @page.title,
            markdown: @page.content,
            readable_group_id: @page.readable_group_id || 0,
            editable_group_id: @page.editable_group_id || 0,
            is_editable: can?(:write, @page),
            is_destroyable: @page.children.size == 0 && can?(:write, @page),
            usergroups: current_user != nil ? current_user.usergroups.select(:id, :name) : [],
            parent_page_id: @page.parent.nil? ? nil : @page.parent.id,
            next_parent_pages: @next_parents
        ) %>
    <% end %>
    <hr>
    <!--こめんと-->
    <h2 class="h3">コメント</h2>
    <div class="list-group">
        <% @page.comments.each do |comment| %>
            <article class="list-group-item">
                <header class="d-flex justify-content-between">
                    <div>
                        <b><%= if comment.user != nil then comment.user.name else "???" end %></b>
                        <span class="text-muted">
                            commented
                            <%= relative_time_tag comment.created_at %>
                        </span>
                    </div>
                    <% if can?(:write, @page) || can?(:write, comment) %>
                        <span class="dropdown">
                            <button class="btn btn-light btn-sm rounded-circle dropdown-toggle" id="dropdownButtonForComment<%= comment.id %>" aria-controls="dropdownForComment<%= comment.id %>" data-toggle="dropdown" aria-label="もっと見る" aria-haspopup="true" aria-expanded="false"></button>
                            <menu class="dropdown-menu" id="dropdownForComment<%= comment.id %>" aria-labelledby="dropdownButtonForComment<%= comment.id %>">
                                <li role="menuitem">
                                    <%= form_with scope: "comment", method: :delete, local: false do |form| %>
                                        <%= form.hidden_field "comment_id", value: comment.id %>
                                        <%= form.submit "削除", { class: "dropdown-item text-danger", data: { confirm: "本当に削除しますか" } } %>
                                    <% end %>
                                </li>
                            </menu>
                        <span>
                    <% end %>
                </header>
                <p class="mb-2" style="white-space: pre-line"><%= comment.comment %></p>
            </article>
        <% end %>
    </div>
    <%= form_with scope: :comment, method: :post, url: URI.encode(@page.path), local: false do |form| %>
        <%= form.text_area :content, class: "form-control", placeholder: "新しいコメント" %>
        <p class="text-right">
            <%= form.submit "投稿", class: "btn btn-primary" %>
        </p>
    <% end %>
    <h2 class="h3">ファイル</h2>
    <table class="table" style="vertical-align: middle">
        <% @page.files.each do |file| %>
            <%
                filename = file.blob.filename.to_s
                escaped_filename = WEBrick::HTTPUtils.escape(filename)
            %>
            <tr>
                <td style="width: 24px">
                    <% if file.blob.image? %>
                        <%= octicon "file-media", width: 16 %>
                    <% elsif ["application/zip", "application/gzip", "application/bzip", "application/bzip2"].include? file.blob.content_type %>
                        <%= octicon "file-zip" %>
                    <% else %>
                        <%= octicon "file" %>
                    <% end %>
                </td>
                <td>
                    <%= link_to filename, filename %>
                </td>
                <td class="text-muted" style="font-size: 0.75rem; line-height: 1">
                    <%= relative_time_tag file.created_at %>
                </td>
                <td class="text-muted" style="font-size: 0.75rem; line-height: 1">
                    <%= number_to_human_size(file.byte_size) %>
                </td>
                <% if can? :write, @page %>
                    <td style="text-align: right">
                        <%= form_with url: escaped_filename, method: :delete, html: { style: "display: contents" }, local: false do |form| %>
                            <%= button_tag type: "submit", class: "btn btn-danger btn-icon", data: { confirm: "本当に#{filename}を削除しますか" } do %>
                                <%= octicon "trashcan" %>
                            <% end %>
                        <% end %>
                    </td>
                <% end %>
            </tr>
        <% end %>
    </table>
    <% if can? :write, @page %>
        <%= form_with scope: :file, method: :post do |form| %>
            <%= form.file_field :files, :multiple => true %>
            <%= form.submit "送信", class: "btn btn-primary" %>
        <% end %>
    <% end %>
    <h2 class="h3">更新履歴</h2>
    <ol style="list-style-type: none; padding-left: 0">
        <% @update_histories.limit(10).each_cons(2) do |newHist, oldHist| %>
            <% next if newHist.content == oldHist.content %>
            <li>
                <details>
                    <summary>
                        <%= render "update-timestamp", history: newHist %>
                    </summary>
                    <%= react_component("DiffViewer",
                        oldValue: oldHist.content,
                        newValue: newHist.content
                    )%>
                </details>
            </li>
        <% end %>
        <% if @update_histories.present? %>
            <li>
                <%= render "update-timestamp", history: @update_histories.last %>
            </li>
        <% end %>
    </ol>
<% end %>