<h1 class="h3 text-center font-weight-light">ログイン</h1>

<div class="card mx-auto" style="max-width: 360px">
    <div class="card-body">
        <%= form_for resource, as: resource_name, url: session_path(resource_name) do |f| %>
            <div class="form-group">
                <%= f.label "ユーザーID" %>
                <%= f.text_field :user_id, autofocus: true, autocomplete: "user_id", class: "form-control" %>
            </div>

            <div class="form-group">
                <%= f.label "パスワード" %>
                <%= f.password_field :password, autocomplete: "current-password", class: "form-control" %>
            </div>

            <% if devise_mapping.rememberable? %>
                <div class="form-group">
                    <%= f.check_box :remember_me %>
                    <%= f.label "ログイン情報を保持" %>
                </div>
            <% end %>
            <%= f.submit "ログイン", class: "btn btn-primary d-block w-100" %>
        <% end %>
    </div>
</div>

<div class="card mx-auto mt-4" style="max-width: 360px">
    <div class="card-body">
        <%= render "devise/shared/links" %>
    </div>
</div>
