<%= render "settings/layout" do %>
    <h1>招待トークン</h1>

    <%= form_with model: InvitationToken.new, local: false do |form| %>
        <%= form.submit "生成", class: "btn btn-primary" %>
    <% end %>

    <table class="table" id="invitation-token-table">
        <thead>
            <tr>
                <th>トークン</th>
                <th>状態</th>
                <th>失効日</th>
                <th>作成日時</th>
                <th>作成者</th>
                <th></th>
            </tr>
        </thead>

        <tbody>
            <% @invitation_tokens.each do |invitation_token| %>
                <% if invitation_token.expired? %>
                <tr class="table-secondary">
                <% else %>
                <tr>
                <% end %>
                    <td>
                        <code><%= invitation_token.token %></code>
                        <%= link_to "招待リンク", invitation_token.registration_path, { id: "link-to-#{invitation_token.id}" } %>
                        <clipboard-copy
                            role="button"
                            title="クリップボードにコピー"
                            aria-label="クリップボードにコピー"
                            for="link-to-<%= invitation_token.id %>"
                        >
                            <%= octicon "clippy" %>
                        </clipboard-copy>
                    </td>
                    <td>
                        <% if invitation_token.expired? %>
                            失効
                        <% else %>
                            有効
                        <% end %>
                    </td>
                    <td>
                        <time datetime="<%= invitation_token.expired_at.iso8601 %>">
                            <%= invitation_token.expired_at.to_s(:jp) %>
                        </local-time>
                    </td>
                    <td>
                        <time datetime="<%= invitation_token.created_at.iso8601 %>">
                            <%= invitation_token.created_at.to_s(:jp) %>
                        </time>
                    </td>
                    <td><%= invitation_token.created_by.name %></td>
                    <td><%= button_to "破棄", invitation_token, method: :delete, remote: true, data: { confirm: "Are you sure?" }, class: "btn btn-danger" %></td>
                </tr>
            <% end %>
        </tbody>
    </table>
<% end %>
