<header class="d-contents">
    <nav class="navbar navbar-expand-sm navbar-light bg-light fixed-top">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">KokenWiki</a>
            <button
                class="navbar-toggler"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbarNav"
                aria-controls="navbarNav"
                aria-expanded="false"
                aria-label="Toggle navigation"
            >
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <% if can? :read, Page %>
                    <%= form_with model: @search, scope: "", url: search_path, method: :get, class: "form-inline my-w my-lg-0" do |f| %>
                        <div class="search-input-wrapper">
                            <div class="lh-1">
                                <%= octicon "search", height: 20, class: "search-input-icon" %>
                            </div>
                            <%= f.search_field :q, class: "form-control search-input", placeholder: "Search Wiki", "aria-label": "Search" %>
                            <%= f.hidden_field :order %>
                            <%= f.hidden_field :period %>
                            <%= f.hidden_field :target %>
                            <%= f.hidden_field :mode %>
                        </div>
                    <% end %>
                <% end %>

                <ul class="navbar-nav ms-auto">
                    <% if !user_signed_in? %>
                        <li class="nav-item">
                            <%= link_to "ログイン", new_user_session_path, class: "nav-link" %>
                        </li>
                    <% else %>
                        <li class="nav-item d-md-none">
                            <%= link_to "設定", edit_user_registration_path, class: "dropdown-item" %>
                        </li>
                        <li class="nav-item d-md-none">
                            <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
                        </li>
                        <li class="nav-item dropdown d-none d-md-block">
                            <a
                                class="nav-link dropdown-toggle"
                                href="#"
                                role="button"
                                data-bs-target="#navbarDropdown"
                                data-bs-toggle="dropdown"
                                aria-haspopup="true"
                                aria-expanded="false"
                            >
                                <%= current_user.name %>
                            </a>
                            <div
                                class="dropdown-menu dropdown-menu-end"
                                aria-labelledby="navbarDropdown"
                            >
                                <%= link_to "設定", edit_user_registration_path, class: "dropdown-item" %>
                                <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
                            </div>
                        </li>
                    <% end %>
                </ul>
            </div>
        </div>
    </nav>
</header>
