<!DOCTYPE html>
<html>
  <head>
    <title>KokenWiki</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application' %>
    <%#= stylesheet_pack_tag 'application' %>
  </head>
  <body class="clearfix container-fluid">
    <%=render partial: "layouts/navbar"%>
    <div class="mt-3">
      <% if notice %>
        <p class="alert alert-info"><%= notice %></p>
      <% end %>
      <% if alert %>
        <p class="alert alert-danger"><%= alert %></p>
      <% end %>
      <main>
        <%= yield %>
      </main>
    </div>
    <%=render partial: "layouts/footer"%>
  </body>
</html>
