<!DOCTYPE html>
<html>
    <head>
        <title>KokenWiki</title>
        <%= csrf_meta_tags %>
        <%= csp_meta_tag %>
        <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0">
        <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
        <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
        <%= javascript_pack_tag 'application' %>
        <%#= stylesheet_pack_tag 'application' %>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <%= favicon_link_tag('koken.ico') %>
        <meta name="robots" content="noindex, nofollow, noarchive">
        <script src="https://cdn.jsdelivr.net/npm/@github/time-elements@3.1.2/dist/index.min.js" type="module" async></script>
        <script src="https://cdn.jsdelivr.net/npm/@github/clipboard-copy-element@1.1.2/dist/index.umd.min.js" async></script>
    </head>
    <body>
        <%= render partial: "layouts/navbar" %>
        <div class="container-fluid">
            <div class="mt-3">
                <% if notice %>
                    <p class="alert alert-info"><%= notice %></p>
                <% end %>
                <% if alert %>
                    <p class="alert alert-danger"><%= alert %></p>
                <% end %>
                <% if flash[:errors] %>
                    <% flash[:errors].each do |message| %>
                        <p class="alert alert-danger"><%= message %></p>
                    <% end %>
                <% end %>
                <main>
                    <%= yield %>
                </main>
            </div>
        </div>
        <%= render partial: "layouts/footer" %>
        <div class="toast position-absolute bottom-0 start-50 translate-middle-x mb-3" role="status" id="clipboard-copy-toast" data-bs-delay="1000" aria-live="polite" aria-atomic="true">
            <p class="toast-body mb-0">
                クリップボードにコピーされました
            </p>
        </div>
    </body>
</html>
